body {
    background-color: black;
}

h1 {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    text-align: center;
    text-decoration: underline bvl;
}

h2 {
    color: white;
    font-size: 28px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

p {
    color: white;
    font-size: 14px;
    text-indent: 25px;
    text-align: center;
    border-radius: 73px;
    background: #8a2be2;

}

.link {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}