body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

.header {
  background-image: url(bg-2.jpg);
  background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem */
  height: 400px; /* Altura do seu cabeçalho, ajuste conforme necessário */
  color: #fff; /* Cor do texto no cabeçalho */
  text-align: center; /* Alinha o texto no centro */
  padding: 1px; /* Espaçamento interno do cabeçalho, ajuste conforme necessário */
}

.header-content {
  margin: 80px auto 0;
  width: 80%;
  text-align: center;
  color: white;
}

.header h1 {
  text-shadow: 2px 2px 5px black;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 58px;
}

.header p {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  display: inline-block;
  padding: 16px;
  border-bottom: 2px solid;
  border-radius: 18px;
}


nav ul{
  margin: 20px 50px 0 0;
  text-align: center;

}

nav li {
  display: inline-block;
  list-style-type: none;
  border: 1px solid white;
  margin-left: 16px;
}

nav a {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  width: 80%;
  margin: auto;
  max-width: 860px;
}

section {
  padding: 32px;
}

article {
  background-color: white;
  padding: 16px;
  margin-bottom: 32px;
}

article h2 {
  background-color: aliceblue;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  margin-top: 0;
}





